# Ignore the Mac OS Finder metadata files.
.DS_Store

# Ignore the Windows thumbnail cache files.
Thumbs.db

# Ignore the Windows folder customization files.
Desktop.ini

# Ignore the Linux swap files.
*.swp

# Ignore the Eclipse IDE project file.
.project

# Ignore the Eclipse IDE settings file.
.settings
